[Unit]
Description=Sauvegarde quotidienne de la base

[Timer]
OnCalendar=daily
RandomizedDelaySec=30m
Persistent=true

[Install]
WantedBy=timers.target
